@font-face {
  font-family: roboto-regular;
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: robotocondensed-regular;
  src: url("../fonts/RobotoCondensed-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: andale mono;
  src: url("../fonts/andale-mono.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: andalemono;
  src: url("../fonts/andale-mono.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: arial black;
  src: url("../fonts/arial-black.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: arialblack;
  src: url("../fonts/arial-black.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: book antiqua;
  src: url("../fonts/BKANT.TTF");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: bookantiqua;
  src: url("../fonts/BKANT.TTF");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: comic sans ms;
  src: url("../fonts/comic.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: comicsansms;
  src: url("../fonts/comic.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: georgia;
  src: url("../fonts/Georgia.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: helvetica;
  src: url("../fonts/Helvetica.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: impact;
  src: url("../fonts/impact.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: symbol;
  src: url("../fonts/Symbol_Regular.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: tahoma;
  src: url("../fonts/Tahoma\ Regular\ font.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: terminal;
  src: url("../fonts/Terminal.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: times new roman;
  src: url("../fonts/times\ new\ roman.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: timesnewroman;
  src: url("../fonts/times\ new\ roman.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: trebuchet ms;
  src: url("../fonts/trebuc.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: trebuchetms;
  src: url("../fonts/trebuc.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: verdana;
  src: url("../fonts/verdana.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: calibri;
  src: url("../fonts/Calibri.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: rockwell;
  src: url("../fonts/ROCK.TTF");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: garamond;
  src: url("../fonts/Garamond.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: franklingothic;
  src: url("../fonts/FRANKGO.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: cambria;
  src: url("../fonts/Cambria.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: futura;
  src: url("../fonts/FuturaLightfont.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: baskerville;
  src: url("../fonts/baskvl.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: gotham;
  src: url("../fonts/GothamLight.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: bodoni;
  src: url("../fonts/bodoni.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: myriad;
  src: url("../fonts/Myriad.ttf");
  font-weight: normal;
  font-display: swap;
}
